.App {
    text-align: center;
    padding: 20px;
    background-image: url("image/road.png");
    background-size: cover;
    background-position: center;
    width: 60vw;
    height: 90vh;
    overflow-y: hidden;
    margin: 10px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}


.score-display {
    position: absolute;
    top: 120px;
    left: 145px;
    text-align: left;
    font-size: 1.2em;
    color: #2b2b2b;
    z-index: 10;

}

.score-display p {
    margin: 5px 0;
    padding: 0;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;

}

.traffic-light {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin: 20px auto;
    margin-top: 180px;
    border: 2px solid black;
    padding: 10px;
    background-color: #232323;
    border-radius: 10px;
    margin-bottom: 35px;
}

.light {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 5px auto;
    background-color: #555;
}


.light.red.active {
    background-color: red;
    box-shadow: 0 0 20px red;
}

.light.yellow.active {
    background-color: rgb(239, 203, 3);
    box-shadow: 0 0 20px rgb(239, 203, 3);
}

.light.green.active {
    background-color: rgb(3, 184, 3);
    box-shadow: 0 0 20px rgb(3, 184, 3);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 43px;
}

button {
    padding: 12px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #c30616;
    color: rgb(228, 242, 243);
    

}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.message {
    font-weight: bold;
    margin-top: 35px;
    color: #0df0f0;
    text-transform: uppercase;
    font-family: sans-serif;
}

